h1 {
  font-size: 60px;
  color: palevioletred;
  font-family: 'Menlo';
}

h2 {
  font-size: 30px;
  font-family: 'Papyrus';
}

img {
  float: left;
}

body {
  background-color: paleturquoise;
  font-family: 'Segoe UI';
}

.intro {
  font-size: 20px;
  font-weight: bolder;
  color: green;
}

.sectionHeader {
  font-size: 40px;
}

.important {
  color: darkslateblue;
}

.sidebar {
  width: 20%;
  float: right;
  background-color:cornflowerblue;
}

.columnRight {
  width: 700px;
  float: right;
}

.columnLeft {
  width: 900px;
  float: left;
}