h1 {
  font-size: 60px;
  color: cornflowerblue;
  font-family: 'Menlo';
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
  font-family: 'Papyrus';
}

img {
  float: left;
  width: 400px;
  height: auto;
  margin-right: 20px;
  border: solid black;
  border-width: 2px;
}

body {
  background-color: paleturquoise;
  font-family: 'Segoe UI';
}

.intro {
  font-size: 20px;
  font-weight: bolder;
  color: green;
}

.sectionHeader {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.important {
  color: darkslateblue;
}

.sidebar {
  width: 20%;
  float: right;
  background-color:cornflowerblue;
  border: 2px;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
}

.columnRight {
  width: 780px;
  float: right;
}

.columnLeft {
  width: 900px;
  float: left;
}

.boxSpacing {
  padding: 10px;
  margin: 10px;
}