h1 {
  font-size: 50px;
  color: palevioletred;
  font-family: 'Lucida Calligraphy';
}

h2 {
  font-size: 20px;
  font-family: 'Lucida Calligraphy';
}

img {
  float: left;
}

body {
  background-color: paleturquoise;
}

